header{
    background-color: chocolate;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
}
body{
    background-color: rgb(29, 29, 29);
    margin: 0px;
}
footer{
    background-color: rgb(70, 69, 69);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    bottom: 0px;
    /* position: absolute; */
    width: 100%;
    border-top: 5px solid chocolate;
}
a {
    color: white;
}

nav {
    background-color: rgb(70, 69, 69);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.box {
    background-color: rgb(77, 76, 76);
    padding: 30px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    text-align: justify;
    box-shadow:  0 4px 8px 5px rgba(0, 0, 0, 0.265);
    font-size: 20px;
}
h3 {
    color: chocolate;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box p{
    color: white;
}

nav {
    background-color: rgb(70, 69, 69);
    color: white;
    display: flex;
    justify-content: space-between;
     /* height: 50px;  */
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    text-decoration: none;
    padding: 5px;
}
nav a:hover {
    background-color: chocolate;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
    

.box {
    background-color: rgb(77, 76, 76);
    padding: 30px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    text-align: justify;
    box-shadow:  0 4px 8px 5px rgba(0, 0, 0, 0.265);
    font-size: 20px;
    
}
h3 {
    color: chocolate;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box p{
    color: white;
}



img{
    display: flex;
    margin: 0 auto;
    height: 200px;
    width: 300px;
}
